
body {
    font-family: 'Open Sans', sans-serif;
}

.node {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    fill: #333;
}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  stroke: #333;
  fill: #fff;
  stroke-width: 1px;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}